<h1>Destinations#show</h1>
<h2><%= @destination.name %>, <%= @destination.country%> </h2>
<%= @destination.top_five.each do |top| %>
   <p> <%= link_to top.title, post_path(top) %></p>
<% end %>

<%# <p>average age of bloggers who post: <%= @destination.average_age %></p> %>

